body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: radial-gradient(circle at top, #020617, #000000);
    color: white;
    min-height: 100vh;
}

/* container */
.container {
    text-align: center;
    margin-top: 70px;
    padding: 20px;
}

/* title glow */
.title {
    font-size: 58px;
    letter-spacing: 6px;
    color: #22d3ee;
    text-shadow: 0 0 20px #22d3ee;
}

/* random text box */
.random-text {
    margin: 15px auto;
    font-size: 16px;
    color: #a5b4fc;
    max-width: 600px;
    padding: 10px;
    border: 1px solid rgba(34, 211, 238, 0.2);
    border-radius: 10px;
    background: rgba(255,255,255,0.03);
}

/* subtitle */
.subtitle {
    color: #94a3b8;
    margin-bottom: 40px;
}

/* grid links */
.link-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 18px;
    max-width: 900px;
    margin: auto;
}

/* buttons */
.link {
    padding: 16px;
    border-radius: 12px;
    text-decoration: none;
    color: white;
    font-size: 17px;

    background: rgba(255, 255, 255, 0.04);
    border: 1px solid rgba(34, 211, 238, 0.25);

    backdrop-filter: blur(10px);
    transition: 0.3s;
}

/* hover glow */
.link:hover {
    transform: translateY(-5px) scale(1.04);
    border-color: #22d3ee;
    box-shadow: 0 0 15px #22d3ee, 0 0 40px rgba(34,211,238,0.4);
}
